@page "/"
@page "/Home"
@rendermode InteractiveServer

<PageTitle>Главная</PageTitle>

<ModalDialog Settings="ModalDialogSettings" OnResult="CallBackModal">
    <HeaderContent>
        Модальное окно
    </HeaderContent>
    <BodyContent>
        Тело модального окна
    </BodyContent>
    <ButtonOkContent>Принять</ButtonOkContent>
    <ButtonNoContent>Отклонить</ButtonNoContent>
    <ButtonCancelContent>Закрыть</ButtonCancelContent>
</ModalDialog>

<h1>Привет, мир! [@RendererInfo.Name]</h1>

Добро пожаловать в ваше новое приложение.

<div class="mb-3 mt-3">
    <ButtonGroup Settings="ButtonGroup">
        <Button Settings="ButtonSettings">
            Custom button <Badge Settings="BadgeSettings">99+</Badge>
        </Button>
        <Button OnClick="Invoke1">JS 1</Button>
        <Button OnClick="Invoke2">JS 2</Button>
    </ButtonGroup>
</div>

<TabList Settings="TabListSettings">
    <HeaderContent>
        <TabListHeaderItem Settings="@TabListSettings.GetItemsSettings("test-1", true)">
            Test-1
        </TabListHeaderItem>
        <TabListHeaderItem Settings="@TabListSettings.GetItemsSettings("test-2")">
            Test-2
        </TabListHeaderItem>
    </HeaderContent>
    <BodyContent>
        <TabListBodyItem Settings="@TabListSettings.GetItemsSettings("test-1", true)">
            Test 1
        </TabListBodyItem>
        <TabListBodyItem Settings="@TabListSettings.GetItemsSettings("test-2")">
            Test 2
        </TabListBodyItem>
    </BodyContent>
</TabList>

<Accordion Settings="AccordionSettings">
    <AccordionItem Settings="@AccordionSettings.GetItemSettings("test-accordion-item-1", true)">
        <HeaderContent>
            item 1
        </HeaderContent>
        <BodyContent>
            item 1 body
        </BodyContent>
    </AccordionItem>
    <AccordionItem Settings="@AccordionSettings.GetItemSettings("test-accordion-item-2")">
        <HeaderContent>
            item 2
        </HeaderContent>
        <BodyContent>
            item 2 body
        </BodyContent>
    </AccordionItem>
</Accordion>

<Alert Settings="AlertSettings">
    alert test
</Alert>

@code {
    private DeviceInfoService test;
    [Inject]
    private IJSRuntime js { get; set; }
    [Inject]
    private BootstrapHelperService bootstrapHelper { get; set; }
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    private ButtonSettings ButtonSettings = new ButtonSettings()
    {
        Id = "test-btn",
        StyleType = ButtonStyleType.OutlinePrimary,
        AttributeSettings = new ButtonAttributeSettings().OpenModal("modal"),
    };
    private ModalDialogSettings ModalDialogSettings = new ModalDialogSettings()
    {
        Id = "modal",
        ButtonOkSettings = new ButtonSettings()
        {
            Id = string.Empty,
            StyleType = ButtonStyleType.OutlinePrimary,
            AttributeSettings = new ButtonAttributeSettings().CloseModal()
        }
    };
    private TabListSettings TabListSettings = new TabListSettings()
    {
        Id = "tab-list-demo",
        Type = TabListType.Pill,
        Fill = TabListFill.Default,
        Orientation = TabListOrientation.Horizontal
    };
    private AccordionSettings AccordionSettings = new AccordionSettings()
    {
        Id = "test-accordion",
        StyleType = AccordionStyleType.Default,
        CollapsedType = AccordionCollapsedType.Collapsed
    };
    private AlertSettings AlertSettings = new AlertSettings()
    {
        StyleType = AlertStyleType.Primary,
        Dismiss = AlertDismiss.Enable
    };
    private BadgeSettings BadgeSettings = new BadgeSettings()
    {
        StyleType = BadgeStyleType.Danger,
    };
    private ButtonGroupSettings ButtonGroup = new ButtonGroupSettings()
    {
        Orientation = ButtonGroupOrientation.Horizontal,
    };

    protected override async Task OnInitializedAsync()
    {
        test = new DeviceInfoService(js);
        var deviceInformation = test.GetDeviceInfo(HttpContext);
        await base.OnInitializedAsync();
    }

    private async Task Invoke1(MouseEventArgs arg)
    {
        var size = await test.GetViewportSize();
        var deviceInformation = await test.GetDeviceInfo();
        var openModal = await bootstrapHelper.OpenModal(ModalDialogSettings.Id);
    }
    private async Task Invoke2(MouseEventArgs arg)
    {
        var closeModal = await bootstrapHelper.CloseModal(ModalDialogSettings.Id);
    }

    private async Task CallBackModal(bool? value)
    {

    }
}