@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    
    <li class="nav-item">
        <NavLink class="nav-link" href="@Const.IdentityRoute.AccountManage.Index" Match="NavLinkMatch.All">Профиль</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="@Const.IdentityRoute.AccountManage.Email">Электронная почта</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="@Const.IdentityRoute.AccountManage.ChangePassword">Пароль</NavLink>
    </li>
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <NavLink class="nav-link" href="@Const.IdentityRoute.AccountManage.ExternalLogins">Внешние входы</NavLink>
        </li>
    }
    <li class="nav-item">
        <NavLink class="nav-link" href="@Const.IdentityRoute.AccountManage.TwoFactorAuthentication">Двухфакторная аутентификация</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="@Const.IdentityRoute.AccountManage.PersonalData">Персональные данные</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Home">Главная</NavLink>
    </li>
</ul>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
