<!-- Модальное окно -->
<div class="modal fade" id="@Settings.Id"
     data-bs-backdrop="@Settings.Backdrop.GetAttributeValue("data-bs-backdrop")"
     data-bs-keyboard="@Settings.Backdrop.GetAttributeValue("data-bs-keyboard")"
     tabindex="-1"
     aria-labelledby="@Settings.IdLabel"
     aria-hidden="true">
    <div class="modal-dialog @Settings.Class">
        <div class="modal-content">
            @if (HeaderContent is not null)
            {
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="@Settings.IdLabel">
                        @HeaderContent
                    </h1>
                    @if (Settings.EnabledButtonCancelHead)
                    {
                        <Button Settings="Settings.HeaderButtonCancelSettings" OnClick="Cancel">
                            @string.Empty
                        </Button>
                    }
                </div>
            }
            <div class="modal-body">
                @BodyContent
            </div>
            @if (ButtonCancelContent is not null || ButtonNoContent is not null || ButtonOkContent is not null)
            {
                <div class="modal-footer">
                    @if (ButtonCancelContent is not null)
                    {
                        <Button Settings="Settings.ButtonCancelSettings" OnClick="Cancel">
                            @ButtonCancelContent
                        </Button>
                    }
                    @if (ButtonNoContent is not null)
                    {
                        <Button Settings="Settings.ButtonNoSettings" OnClick="No">
                            @ButtonNoContent
                        </Button>
                    }
                    @if (ButtonOkContent is not null)
                    {
                        <Button Settings="Settings.ButtonOkSettings" OnClick="Ok">
                            @ButtonOkContent
                        </Button>
                    }
                </div>
            }
        </div>
    </div>
</div>
