<div class="@(Settings.Orientation == TabListOrientation.Vertical ? "d-flex align-items-start" : string.Empty)">
    <ul class="@Settings.Class" id="@Settings.Id" role="tablist" aria-orientation="@Settings.OrientationValue">
        @HeaderContent
    </ul>
    <div class="tab-content" id="@Settings.IdContent">
        @BodyContent
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public TabListSettings Settings { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment? HeaderContent { get; set; }
    [Parameter, EditorRequired]
    public RenderFragment? BodyContent { get; set; }
}
