<div class="@Settings.Orientation.GetAttributeValue("div class")">
    <ul class="@Settings.Class" id="@Settings.Id" role="tablist" aria-orientation="@Settings.Orientation.GetAttributeValue("aria-orientation")">
        @HeaderContent
    </ul>
    <div class="tab-content" id="@Settings.IdContent">
        @BodyContent
    </div>
</div>

