<li class="nav-item" role="presentation">
    <button class="@Settings.HeaderClass"
            id="@Settings.HeaderId"
            data-bs-toggle="@Settings.Type.GetAttributeValue("data-bs-toggle")"
            data-bs-target="#@Settings.BodyId"
            type="button"
            role="tab"
            aria-controls="@Settings.BodyId"
            aria-selected="@Settings.IsActive.ToString()">
        @ChildContent
    </button>
</li>

