@{
    ViewData["Title"] = "Home Page";
}
@model string
@using OpenIddictAbstractions.Constants

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="jumbotron">
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <h1>Добро пожаловать, @User.Identity.Name</h1>

        <p>
            @foreach (var claim in Context.User.Claims)
            {
                <div>@claim.Type: <b>@claim.Value</b></div>
            }
        </p>

        if (!string.IsNullOrEmpty(Model))
        {
            <h3>Сообщение, полученное от контроллера ресурсов: @Model</h3>
        }

        <form asp-action="Index" asp-controller="Home" method="post">
            <button class="btn btn-lg btn-warning" type="submit">Запросите контроллер ресурсов</button>
        </form>

        <form action="@OpenIddictConst.Route.OppenIddictClient.LogoutEndpoint" method="post">
            <button class="btn btn-lg btn-danger" type="submit">Выход</button>
        </form>
    }
    else
    {
        <h1>Добро пожаловать, аноним</h1>
        <a class="btn btn-lg btn-success" href="@OpenIddictConst.Route.OppenIddictClient.LoginEndpoint">
            Войдите в систему с помощью локального сервера OIDC
        </a>
    }
</div>
